<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

	<th:block th:replace="~{/include/header :: commoncss }"></th:block>
    
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/review.css}">

</head>
<body>
 <th:block th:replace="~{/include/header :: h_include }"></th:block>
 
    <div class="wrap">
        <div class="warp_inner">
            <div class="right_content">
                <div class="midiaq">
                    <form name="#####" action="#####" method="post">
                        <div class="full_collum collum">
                            <ul>
                                <li class="collum_tit">
                                    <h2>토론등록</h2>
                                    <ul>
                                        <li>
                                            <table cellpadding="0" cellspacing="0" class="board_basic_view2" width="100%;">
                                                <tr>
                                                    <th>등록일</th>
                                                    <td colspan="5">
                                                        <input type="text" class="datepicker" name="debate_regDate" readonly placeholder="날짜선택">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>작성자</th>
                                                    <td><input type="text" class="inputw150" name="debate_writer" value="" readonly></td>
                                                </tr>

                                                <tr>
                                                    <th>제목</th>
                                                    <td colspan="5"><input type="text" class="inputw99p" name="debate_title"></td>
                                                </tr>
                                                
                                                <tr>
                                                    <th>내용</th>
                                                    <td colspan="5">
                                                        <div>
                                                            <textarea  class="inputw99p" name="debate_content" style="height: 200px;"></textarea>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </table>
                                            <div class="btn_area">
                                                <input type="button" class="save2" value="등록">
                                            	<input type="button" class="save2" value="목록">
                                            </div>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>

<th:block th:replace="~{/include/footer :: f_include }"></th:block>
    <script>

        $(".datepicker").val($.datepicker.formatDate('yy-mm-dd', new Date()));
    
    </script>
    
</body>
</html>