<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- 공통 css -->
    <th:block th:replace="~{/include/header :: commoncss }"></th:block>
    <!-- 페이지 css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage.css}">
   
    
</head>
<body>
  
  <th:block th:replace="~{/include/header :: h_include }"></th:block>
    

      <div class="container-fluid text-center">    
        <div class="row content text-center">
          
          <div class="col-sm-7 text-center" style="margin: 0 auto; float: none;"> 
            <div class="userpage">
              <!-- <div class="profile">
                <div class="file">
                  사진?<br>
                  미정
                </div>
                <p>홍길동(이름)님<br> 환영합니다</p>
                <button type="button" class="myDM">나의 DM</button>
              </div>  -->

              <div class="userTable" >
                <table style="width: 100%;">
                  <div class="infotitle">
                    <h2 class="h2">회원정보</h2>
                    <div class="infoBottom1">
                      <button type="button" class="myDM" onclick="DMSend()">쪽지 보내기</button>
                      <button type="button" class="myDM" onclick="DMList()">내 쪽지함</button>
                      <!-- location에 user_id 넘겨서 쪽지데이터 받기-->
                      <button type="button" class="save" onclick="location.href='myModify'">회원정보수정</button> 
                      <!-- location에 user_id 넘겨서 회원데이터 받기-->
                    </div>
                  </div>
                    <tr>
                      <th class="title">아이디</th>
                        <td class="info">
                          <strong>kkk123</strong>
                        </td>
                      </tr>
                   
                    <tr>
                        <th class="title">이름</th>
                        <td class="info">
                          <span>홍길동</span>
                        </td>
                    </tr>
                    
                    <tr>
                      <th class="title">나이</th>
                        <td class="info">
                            <span>28</span>
                          </td>
                    </tr>

                    <tr>
                        <th class="title">성별</th>
                        <td class="info">
                            <input type="radio">남자
                            <input type="radio">여자
                        </td>
                    </tr>
                      <!-- 성별/관심사 checked   required ? -->
                    <tr>
                        <th class="title">관심사</th>
                        <td class="info">
                            <input type="checkbox">여행
                            <input type="checkbox">요리
                            <input type="checkbox">게임
                            <input type="checkbox">독서
                            <input type="checkbox">etc..
                        </td>
                    </tr>

                    <tr>
                        <th class="title">연락처</th>
                        <td class="info">
                            <span>000-0000-0000</span>
                          </td>
                    </tr>

                    
                  </table>
                
                <div class="infotitle">
                  <h2 class="h2" id="h2title">내가 쓴 리뷰</h2>
                  <div class="infoBottom1">
                    <button type="button" class="save favorites" id="ListBtn" onclick="ListChange()">찜목록</button> 
                  </div>
                </div>
                <table class="reviewTable" id="review">
                  
                    <tr class="reviewList">
                        <th class="tag">번호</td>
                          <th class="tag">지역</td>
                        <th class="tag">제목</td>
                          <th class="tag">등록일</td>
                    </tr>
                    
                    <tr>
                      <td>1</td>
                        <td>서울</td>
                        <td><a href="#">제목을 클릭하면 리뷰 상세보기</a></td>
                        <td>yyyy-MM-dd</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>경기도</td>
                        <td><a href="#">제목을 클릭하면 리뷰 상세보기</a></td>
                        <td>yyyy-MM-dd</td>
                      </tr>
                    </table>

                    <table class="favoritesTable" id="favorites">
                  
                      <tr class="reviewList">
                          <th class="tag">작성자</td>
                            <th class="tag">지역</td>
                          <th class="tag">제목</td>
                            <th class="tag">등록일</td>
                      </tr>
                      
                      <tr>
                        <td>홍길동</td>
                          <td>서울</td>
                          <td><a href="#">제목을 클릭하면 페이지로</a></td>
                          <td>yyyy-MM-dd</td>
                        </tr>
                        <tr>
                          <td>이순신</td>
                          <td>경기도</td>
                          <td><a href="#">제목을 클릭하면 페이지로</a></td>
                          <td>yyyy-MM-dd</td>
                        </tr>
                      </table>
                  </div>
                  </div>
              
                  
                </div>
      
              </div>
            </div>
       
  <div th:replace="~{/include/footer :: f_include }">
</div>
    
      <script>

        function ListChange() {
          if(document.getElementById("ListBtn").classList.contains("favorites")){
            
            document.getElementById("ListBtn").classList.remove("favorites");
            document.getElementById("ListBtn").classList.add("review");
            document.getElementById("review").style.display='none';
            document.getElementById("favorites").style.display='table';
            document.getElementById("h2title").innerHTML="나의 찜목록";
            document.getElementById("ListBtn").innerHTML="리뷰목록";


          } else if(document.getElementById("ListBtn").classList.contains("review")){

            document.getElementById("ListBtn").classList.remove("review");
            document.getElementById("ListBtn").classList.add("favorites");
            document.getElementById("review").style.display='table';
            document.getElementById("favorites").style.display='none';
            document.getElementById("h2title").innerHTML="내가 쓴 리뷰";
            document.getElementById("ListBtn").innerHTML="찜목록";


          }

          
        }
        function DMList() {
            window.open("/message/messageReceiveList", "myDM", "width=540, height=500, left=200, top=100");
          }
        function DMSend() {
            window.open("/message/messageSend", "myDM", "width=540, height=500, left=200, top=100");
          }

      </script>
    </body>
</html>