*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /*메인 디자인*/
  /* Remove the navbar's default margin-bottom and rounded borders */ 
  .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    /* .row.content {height: 450px} */
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #C5DFC5;
      height: 100%;
    }
  
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 100%) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  
    .carousel-inner > .item > img {
      top: 0;
      left: 0;
      min-width: 1980px;
      min-height: 400px;
      max-height: 400px;
    }
    
    .col-sm-12 {
      padding: 0;
      font-family: 'Nanum Brush Script', cursive;
      font-size: 30px;
    }
  
  
    .carousel-control.left,
    .carousel-control.right {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    }
  
    .carousel .carousel-control { visibility: hidden; }
  .carousel:hover .carousel-control { visibility: visible; }
  
  .carousel-caption{
    bottom: -25px;
  }

.login {
    margin: 0 auto;
    width: 50%;
  }
  
  .join {
    padding: 3px;
    text-align: right;
    overflow: hidden;
  }
  
  .login > strong {
    font-size: 30px;
    line-height: 30px;
  }

  .adminlogin {
    float: left;
  }

  .adminlogin > button {
    background-color: #fff;
    border: none;
    font-size: 13px;
  }
  
  .simplelogin > span {
    font-size: 17px;
    line-height: 10px;
    color: #777;
  }
  
  .login ul {
    margin-top: 20px;
  }
  
  .login input {
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border: 1px solid #777;
    padding: 8px;
    margin: 2px;
  }
  
  .login hr {
    border-top: 1px solid #999;
  
  }
  
  .item > img{
    width: 100%;
    height: 350px;
    margin-bottom: 50px;
  }
  
  .icon {
    display: inline-block;
    margin: 10px;
  }
  
  .icons {
    margin-bottom: 30px;
    
  }
  
  .join > small > a {
    color: black;
  }
  
  #loginBtn {
    transition-duration: 0.4s;
    border-radius: 10px;
    border: 1px solid #777;
    background-color: white;
    margin-top: 5px;
  }
  
  #loginBtn:hover {
    background-color: orange;
    border-color: rgb(242, 201, 124);
    color: #333;
  }
  
  .login > ul > li > input:hover {
    border: 1px solid #222;
  }
  
  /*----- 회원가입css -----*/
  .top {
    overflow: hidden;
  }
  .top strong{
    float: left;
  }
  .top p {
    float: right;
    margin-top: 15px;
  }
  
  .top p a {
    font-size: 14px;
    
    color: #111;
  
  }
  
  .joinheader, .findIdHeader {
    text-align: left;
    margin: 100px 0;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 8px 16px #111;
  }
  
  .joinheader > hr {
    border: 1px solid #333;
    margin: 5px 0 20px;
  }
  .joinheader strong {
    font-size: 30px; 
  }
  
  .findIdHeader strong {
    font-size: 25px;
    font-weight: 20;
    
  }
  
  .findIdHeader hr {
    border: 1px solid #777;
  }
  
  .findIdHeader a {
    text-decoration: none;
    text-align: right;
    color: #333;
    
  }
  
  .joinform ul {
    text-align: left;
    width: 520px;
  }
  
  .joinform ul li {
    margin: 20px 0px;
  }
  
  .joinform strong {
    font-size: 14px;
  }
  
  
  
  #hobby {
    width: 350px;
    height: 40px;
    display: inline-block;
    padding: 8px;
  }
  #hobby > input {
   width: 30px;
   height: 15px;
  }
  
  #gender, .joinform ul > li > input {
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #888;
    width: 350px;
    height: 40px;
    box-shadow: 5px 10px rgb(241 241 241)
  }
  
  #gender:hover, .joinform ul > li > input:hover,
  .findid input:hover, .findpw input:hover {
    border: 1px solid rgb(227, 200, 126);
  }
  #gender:focus, .joinform ul > li > input:focus,
  .findid input:focus, .findpw input:focus {
    border: 1px solid rgb(227, 200, 126);
    outline: 2px solid rgb(235, 213, 154);
  }
  
  #joinBtn {
    transition-duration: 0.4s;
    border-radius: 4px;
    border: 1px solid #777;
    background-color: whitesmoke;
    margin: 5px 0;
    width: 100%;
    height: 50px;
    font-size: 20px;
  }
  
  #joinBtn:hover {
    background-color: orange;
    border-color: rgb(227, 200, 126);
    color: #333;
  }
  
  /*아이디 비번찾기 페이지*/
  
  .findid input, .findpw input {
    display: block;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #888;
    width: 500px;
    height: 40px;
    box-shadow: 5px 10px rgb(241 241 241)
  }
  
  .finded {
    display: none;
  }
  
  .finded p {
    font-size: 20px;
    font-weight: 10px;
  }
  
  .top button {
    transition-duration: 0.4s;
    border: 1px solid #999;
    background-color: white;
    border-radius: 7px;
    color: #333;
    width: 100px;
    height: 35px;
  }
  
  .top button:hover {
    background-color: orange; 
    border-color: rgb(227, 200, 126);
    color: #333;
  }
  
  #idBtn, #pwBtn{
    transition-duration: 0.4s;
    border-radius: 4px;
    border: 1px solid #777;
    background-color: whitesmoke;
    margin: 15px 0;
    width: 500px;
    height: 50px;
    font-size: 20px;
  }
  
  #idBtn:hover, #pwBtn:hover {
    background-color: orange; 
    border-color: rgb(227, 200, 126);
    color: #333;
  }
  
  .findIdHeader button {
    transition-duration: 0.4s;
    border: 1px solid #999;
    background-color: white;
    border-radius: 7px;
    color: #333;
    width: 100px;
    height: 35px;
  }
  
  .findIdHeader button:hover {
    background-color: orange; 
    border-color: rgb(227, 200, 126);
    color: #333;
  }