*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, ol, dd, dl {list-style: none;}

html, body {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

/* 헤더 */

.logo {margin: 0px 0; font-size: 30px; text-align: center; font-family: 'Nanum Brush Script', cursive; }
            
.topMenu {position: relative; width: 100%; margin-bottom: 0px; text-align: center; height: 40px; cursor: pointer;}
.topMenu:hover {content: ""; display: block; clear: both;}
.menu01>li {float: left; width: 20%; line-height: 40px; }
.menu01 span {font-size: 20px; font-weight: bold; }
            
.dept01 {position: absolute; top: 40px; display: none; width: 25%;  padding: 20px 0; border-bottom: 1px solid #ccc; background: #fff; z-index: 1; }
            
#nop {float: none; }
            
.none:hover {content: ""; display: block; clear: both; }


/*메인 디자인*/
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  /* .row.content {height: 450px} */
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #C5DFC5;
    height: 100%;
  }
   
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 100%) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }

  .carousel-inner > .item > img {
    top: 0;
    left: 0;
    min-width: 1980px;
    min-height: 400px;
    max-height: 400px;
  }
  
  .col-sm-12 {
    padding: 0;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 30px;
  }

  .carousel-control.left,
  .carousel-control.right {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  }

  .carousel .carousel-control { visibility: hidden; }
.carousel:hover .carousel-control { visibility: visible; }

.carousel-caption{
  bottom: -25px;
}

.weekly-outer {
  height: 200px;
}

.weekly-content {
  height: 200px;
  width: 100%;
  margin: 0 auto;
}

.weekly-content1 {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.weekly-text {
  text-align: center;
  font-family: 'Nanum Brush Script', cursive;
}

.weekly-text h2 {
  margin-top: 5;
}

.weekly-commend {
  width: 360px;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 10px;
}

.weekly-commend1 {
  float: left;
  width: 100px;
  text-align: center;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 20px;
  transition: all 0.2s linear;
  padding: 10px;
  margin: 10px;

}

.weekly-commend1:hover {
  transform: scale(1.2);
}

.weekly-commend2 {
  float: left;
  width: 100px;
  text-align: center;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 20px;
  transition: all 0.2s linear;
  padding: 10px;
  margin: 10px;
}

.weekly-commend2:hover {
  transform: scale(1.2);
}
.weekly-commend3 {
  float: left;
  width: 100px;
  text-align: center;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 20px;
  transition: all 0.2s linear;
  padding: 10px;
  margin: 10px;
}

.weekly-commend3:hover {
  transform: scale(1.2);
}

.taste-imgbox {
  position: relative;
  width: 100%;
  height: 300px;
}

.taste-img {
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 300px;
}

.taste-imgtext {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 25%;
  /* z-index: 1; */
  color: brown;
  font-size: 4vw;
  font-family: 'Nanum Brush Script', cursive;
  
}

.taste-middle-outer {
  width: 100%;
  overflow: auto;
  background-color: #f5f5f5;
  margin: 0 auto;
}

.taste-middle-outer2 {
  width: 100%;
  overflow: auto;
  background-color: #f5f5f5;
  margin: 0 auto;
}

.taste-middle-outer3 {
  width: 100%;
  overflow: auto;
  background-color: #f5f5f5;
  margin: 0 auto;
}



.taste-middle {
  width: 100%;
  height: 50px;
  background-color: white;
}

.taste-middle-text {
  text-align: center;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 40px;
}

.taste-middle2 {
  width: 1250px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.taste-sidecheck {
  width: 290px;
  height: auto;
  background-color: white;
  float: left;
  left: 20%;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
}

.taste-midcon {
  float: left;
  left: 36%;
  width: 900px;
  height: auto;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 20px;
  border-radius: 20px;
}

.midcon-box {
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.midcon-img {
  width: 270px;
  height: 210px;
  float: left;
}

.midcon-text {
  text-align: center;
  float: left;
  padding: 10px;
  margin: 10px;
}

.revboard {
  width: 145px;
  height: auto;
  text-align: center;
  margin: 0 auto;

}

.moreBtn {
  margin-left: 50%;
}

.img{
  width: 190px;
  height: 190px;
  margin: 18px auto 18px;
  display: block;
  border-radius: 50%;
}

.img img{
  border-radius: 50%;
  display: block;
  max-width: 100%;
  height: 100%;
  border: 0;
}

.inr ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
}

.inr ul li{
  display: list-item;
  text-align: center;
  float: left;
  margin-left: 40px;
  vertical-align: middle;
  width: 190px;
  position: relative;
}

.inr{
  width: 1200px;
  margin: 0 auto;
}

.inr-img {
  transition: all 0.2s linear;
}

.inr-img:hover {
  transform: scale(1.1);
}


