<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamproject.myweb.Service.boardMapper">

	<insert id="reviewRegist">
		insert into reviewboard(
				    review_writer,
				    review_category,
				    review_lat,
				    review_lng,
				    review_title,
				    review_content,
				    review_realAddress
				) values(
					#{review_writer},
					#{review_category},
					#{review_lat},
					#{review_lng},
					#{review_title},
					#{review_content},
					#{review_realAddress}
				)
	</insert>
	
	<insert id="reviewFileRegist">
		
		<selectKey resultType="int" order="BEFORE" keyProperty="review_no">
			select max(REVIEW_NO) as REVIEW_NO
			from REVIEWBOARD
			where REVIEW_WRITER = #{review_writer};
		</selectKey>
		
		insert into review_upload(
			review_filename,
			review_filepath,
			review_uuid,
			review_no,
			review_writer
		) values(
			#{review_filename},
			#{review_filepath},
			#{review_uuid},
			#{review_no},
			#{review_writer}
		)
		
	</insert>
	
	<select id="reviewList" resultType="reviewVO">
		<![CDATA[
		SELECT *
		FROM reviewboard
		]]>
		<if test = "search != null and search == 'searchtitle' ">
		WHERE review_title LIKE CONCAT('%', #{searchKey},'%')
		</if>
		<if test = "search != null and search == 'searchregion' ">
		WHERE review_category LIKE CONCAT('%', #{searchKey},'%')
		</if>
		<if test = "search != null and search == 'searchwriter' ">
		WHERE review_writer LIKE CONCAT('%', #{searchKey},'%')
		</if>
		
		<![CDATA[
		ORDER BY review_no DESC
		LIMIT #{limitLeft}, #{amount}
		]]>
	</select>
	
	<select id="reviewTotal" resultType="int">
	<![CDATA[
		select count(*) from reviewboard
		]]>
		<if test = "search != null and search == 'searchtitle' ">
		WHERE review_title LIKE CONCAT('%', #{searchKey},'%')
		</if>
		<if test = "search != null and search == 'searchregion' ">
		WHERE review_category LIKE CONCAT('%', #{searchKey},'%')
		</if>
		<if test = "search != null and search == 'searchwriter' ">
		WHERE review_writer LIKE CONCAT('%', #{searchKey},'%')
		</if>
	</select>
	
	<select id="getDetail" resultType="reviewVO">
		SELECT *
		FROM reviewboard
		WHERE review_no = #{review_no}
	</select>
	
	<insert id="updateReview">
		update REVIEWBOARD 
				SET REVIEW_CATEGORY = #{review_category},
					REVIEW_LAT = #{review_lat},
				    REVIEW_LNG = #{review_lng},
				    REVIEW_TITLE = #{review_title},
				    REVIEW_CONTENT = #{review_content},
				    REVIEW_REALADDRESS = #{review_realAddress}
				WHERE REVIEW_NO = #{review_no};
	</insert>
	
	<delete id="deleteReview">
		DELETE FROM REVIEWBOARD
		WHERE REVIEW_NO=#{review_no}
	</delete>
	
	<select id="getLocation" resultType="MainVO">
		SELECT REVIEW_LAT,REVIEW_LNG
		FROM REVIEWBOARD
	</select>
	
	<select id="userCheckes" resultType="UserVO">
		SELECT * FROM USER
		WHERE USER_ID = #{user_id} AND USER_PW = #{user_pw};
	</select>
	
	<select id="getImg" resultType="Review_uploadVO">
		SELECT * FROM REVIEW_UPLOAD
		WHERE REVIEW_NO = #{review_no}
	</select>
	
</mapper>