<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamproject.myweb.debate.DebateMapper">

	<insert id="regist">
		INSERT INTO DEBATE(
			debate_no,
			debate_writer,
			debate_title,
			debate_content)
		VALUES(
			#{debate_no},
			#{debate_writer},
			#{debate_title},
			#{debate_content}	
		)
		
	</insert>
	
	<select id="getList" resultType="DebateVO">
	
		select A.*
		from(select * from DEBATE
		
			<if test="searchOption == 'searchTitle'">
				where debate_title like concat('%', #{searchKey}, '%')
			</if>
			
			<if test="searchOption == 'searchWriter'">
				where debate_writer like concat('%', #{searchKey}, '%')
			</if>
		
	 		 order by debate_no desc) A 
	 		 limit #{leftpage},#{amount}
	</select>
	
	<select id="getTotal" resultType="int">
		select count(*) AS TOTAL from DEBATE
			<if test="searchOption == 'searchTitle'">
				where debate_title like concat('%', #{searchKey}, '%')
			</if>
			
			<if test="searchOption == 'searchWriter'">
				where debate_writer like concat('%', #{searchKey}, '%')
			</if>
		
	</select>
	
	<update id="update">
		update DEBATE
		set debate_title = #{debate_title},
			debate_content = #{debate_content}
		where debate_no = #{debate_no}
	</update>
	
	<select id="getDetail" resultType="DebateVO">
		select * from DEBATE
		where debate_no = #{debate_no}
	</select>
	
	<delete id="delete">
		delete from DEBATE
		where debate_no = #{debate_no}
	</delete>
	
</mapper>