<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.teamproject.myweb.freeBoard.FreeBoardMapper">

	<select id="getList" resultType="freeBoardVO">
		<!-- select * from freeBoard
		order by free_bno desc -->
		select A.*
		from(select * from freeboard
		
			<if test="searchoption == 'searchTitle'">
				where free_title like concat('%', #{searchKey}, '%')
			</if>
			
			<if test="searchoption == 'searchWriter'">
				where free_writer like concat('%', #{searchKey}, '%')
			</if>
		
	 		 order by free_bno desc) A 
	 		 limit #{leftpage},#{amount}
	</select>
	
	<select id="getTotal" resultType="int">
		select count(*) AS TOTAL from freeBoard
			<if test="searchoption == 'searchTitle'">
				where free_title like concat('%', #{searchKey}, '%')
			</if>
			
			<if test="searchoption == 'searchWriter'">
				where free_writer like concat('%', #{searchKey}, '%')
			</if>
		
	</select>

	<insert id="regist">
			insert into freeBoard(free_writer,
								  free_title,
								  free_content)
							values(#{free_writer},
								   #{free_title},
								   #{free_content})
	</insert>

	<select id="getDetail" resultType="freeBoardVO">
		select * from freeBoard
		where free_bno = #{free_bno}
	</select>

	<update id="update">
		update freeBoard set
		free_title = #{free_title},
		free_content = #{free_content}
		where free_bno = #{free_bno}
		
	</update>

	<delete id="delete">
		delete from freeBoard
		where free_bno = #{free_bno}
	</delete>




</mapper>
