<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/message.css}">
  

</head>
<body>

    <div class="tabs">
        <input id="all" type="radio" name="tab_item" checked>
        <label class="tab_item" id="toggle1" for="all" onclick="location.href='messageReceiveList'">받은메시지</label>
        <input id="programming" type="radio" name="tab_item">
        
        <label class="tab_item" id="toggle2" for="programming" onclick="location.href='messageSendList'">보낸메시지</label>
        <div class="tab_content" id="all_content">
        	
            <ul class="inner" th:each="vo, state : ${receiveList}">
                <li>FROM. [[${vo.msender}]]</li>
                <li>안읽음</li>
                <li class="right">[[${ #temporals.format(vo.msenddate, 'yyyy-MM-dd hh:mm:ss')}]]</li><br>
                <li><a th:href="@{/message/messageReceive(mno=${vo.mno})}">[[${vo.mcontent}]]</a></li>
            </ul>
            
            <div class="page_wrap">
                <div class="page_nation">
                    <th:block th:if="${receivepageVO.realEnd != 0}">
                    	<a class="arrow pprev" th:href="@{/message/messageReceiveList(page=1, amount=${receivepageVO.amount})}"></a>
                    </th:block>
                    
                    <th:block th:if="${receivepageVO.prev}">
                    	<a class="arrow prev" th:href="@{/message/messageReceiveList(page=${receivepageVO.start-1}, amount=${receivepageVO.amount})}"></a>
                    </th:block>
                    
                    <th:block th:each="page : ${receivepageVO.pageList}">
                    	<a th:href="@{/message/messageReceiveList(page=${page}, amount=${receivepageVO.amount})}" th:class="${receivepageVO.page == page ? 'active' : ''}">[[${page}]]</a>
                    </th:block>
                    
                    <th:block th:if="${receivepageVO.next}">
                    	<a class="arrow next" th:href="@{/message/messageReceiveList(page=${receivepageVO.end+1}, amount=${receivepageVO.amount})}"></a>
                    </th:block>
                    
                    <th:block th:if="${receivepageVO.realEnd != 0}">
                    	<a class="arrow nnext" th:href="@{/message/messageReceiveList(page=${receivepageVO.realEnd}, amount=${receivepageVO.amount})}"></a>
                    </th:block>
                </div>
            </div>
        </div>
        
        

    </div>

    <script>
    	
    
    </script>
</body>
</html>